html, body{
  padding: 0;
  margin: 0;
}
html{
  height: 100%;
}
body {
  margin: 0 auto;
  background:black;
  /*image aquired on https://pixabay.com/en/milky-way-starry-sky-night-sky-star-2695569/ free for commercial user per creator felixMittermeier */
  background-size: cover;
  background-repeat:   repeat;
  min-height: 100%;
}

#main {
    width:70%;
    background: rgb(80, 80, 80);
    background-image: url("../images/164792151-stargate-wallpapers.png");
    /***  http://www.4usky.com/download/164792151.html -allowed for non commercial use by trenton hall ***/
    background-size: cover;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
}

@keyframes backgroundScroll {
  from {background-position: 0 0;}
  to {background-position: 0px 180px;}
}

@-webkit-keyframes backgroundScroll {
  from {background-position: 0 0;}
  to {background-position: 0px 180px;}
}

#canvas {
  border: 2px solid #009999;
  border-radius: 20px;
  background-color: black;
  background-image:url('../images/spacegalaxy.jpg');
  //https://lyshastra.deviantart.com/art/Free-Space-Galaxy-Texture-435798637
  background-repeat: repeat;
  background-attachment: fixed;
  background-size:100%;
  font-size: 12px;
  font-family: 'Dancing Script', cursive;
  -webkit-animation: backgroundScroll 30s linear 1;
  -webkit-animation-fill-mode: forwards;
  animation: backgroundScroll 30s linear 1;
  animation-fill-mode: forwards;
}
