
body {

    background-size:     cover;
    background-repeat:   repeat;
}

@keyframes backgroundScroll {
    from {background-position: 0 0;}
    to {background-position: 0px 180px;}
}

@-webkit-keyframes backgroundScroll {
    from {background-position: 0 0;}
    to {background-position: 0px 180px;}
}

canvas {
    border: 1px solid black;
    background-color: black;
    background-image:url('../images/spacegalaxy.jpg');
    //https://lyshastra.deviantart.com/art/Free-Space-Galaxy-Texture-435798637
    background-repeat: repeat;
    background-attachment: fixed;
    background-size:100%;
    font-size: 12px;
    font-family: 'Dancing Script', cursive;
    -webkit-animation: backgroundScroll 30s linear 1;
    -webkit-animation-fill-mode: forwards;
    animation: backgroundScroll 30s linear 1;
    animation-fill-mode: forwards;
}
