.main {
    width: 1200px;
    min-width: 1200px;
    background: black;
    background-image: url("/images/164792151-stargate-wallpapers.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-height: 770px;
}

h2 {
    font-family: 'Syncopate';
    font-size: 5em;
    font-weight: normal;
}
