.gameScreenWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 20px;
}

.gamePanelWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.gameControlsWrapper {
    display: flex;
    width: 100%;
    justify-content: center;
}

.directionKeysWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 110px
}

.directionKeysWrapper > div:first-child {
  margin-bottom: 10px;
}

.directionKeyRow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
}

.directionKey {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 2px solid #009999;
  border-radius: 5px;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Play', sans-serif;
  margin-right: 10px;
  color: #009999;
}

.directionKeyActive {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 2px solid #009999;
  border-radius: 5px;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Play', sans-serif;
  margin-right: 10px;
  color: black;
  background-color: #009999;
}

.actionKeysWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 100px;
}

.spaceBarKey {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  border: 2px solid #009999;
  border-radius: 5px;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Play', sans-serif;
  margin-right: 10px;
  color: #009999;
}

.spaceBarKeyActive {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  border: 2px solid #009999;
  border-radius: 5px;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Play', sans-serif;
  margin-right: 10px;
  color: black;
  background-color: #009999;
}