.left {
    /* border: .5px solid #009999; */
    color: white;
    min-width: 100px;
    height: 60%;
    min-height: 200px;
    background-color: black;
    flex-direction: column;
}

.score,
.level {
    border: .5px solid #009999;
    position: relative;
    height: 105px;
}

.score,
.level {
    font-family: 'Sarpanch', sans-serif;
    color: #009999;
    font-size: 20px;
}

.scoreT,
.levelT {
    border-bottom: 1px solid #009999;
    font-size: 30px;
}

.scoreB,
.levelB {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 19px;
}