.right {
    border: .5px solid #009999;
    min-width: 100px;
    height: 60%;
    min-height: 450px;
    background-color: black;
}

h5 {
  margin: 0px;
}

.health {
    min-height: 450px;
    min-width: 100px;
    display: flex;
    flex-direction: column-reverse;
    /* justify-content: center; */
    align-items: flex-end;
}

.healthBar {
    border: .5px solid #009999;
    background-color: #990066;
    min-height: 150px;
    max-width: 90px;
    min-width: 90px;
    width: 98;
    margin: 0 auto;
}

.healthT {
    font-family: 'Sarpanch', sans-serif;
    color: #009999;
    font-size: 20px;
}

.healthT {
    border-bottom: 1px solid #009999;
    font-size: 30px;
}