button {
    padding: 20px 60px;
    background-color: black;
    border-radius: 25px;
    font-family: 'Play', cursive;
    font-size: 3.5em;
    -webkit-box-shadow: 0px 10px 10px #2b638f;
    -moz-box-shadow: 0px 10px 10px #2b638f;
    box-shadow: 0px 10px 10px #2b638f;
    color: #009999;
    visibility: visible;
    background-color: rgb(80, 80, 80);
}
button:hover {
    background-color: #009999;
    color: white;
    cursor: pointer;
}
.buttonWrap {
    margin-top: 0px;
    margin-bottom: 95px;
}